{% extends 'base.html' %}

{% block content %}
<div class="home-container" >
    {% for post in posts %}
    <div class="container bootstrap snippets bootdey" style="margin-top: 20px;">
    <div class="col-md-10">
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Image">
            <span class="username"><a href="#">{{post.author.username}}</a></span>
            <span class="description">{{post.updated_at}}</span>
          </div>
        </div>
        <div class="box-body">
          <p>{{post.content}}</p>

          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
          <span class="pull-right text-muted">{{post.likes.count}} likes - {{post.comments.count}} comments</span>
        </div>
        <div class="box-footer box-comments">
          {% for comment in post.comments.all %}
          <div class="box-comment">
            <img class="img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User Image">
            <div class="comment-text">
              <span class="username">
              {{comment.author.username}}
              <span class="text-muted pull-right">{{comment.updated_at}}</span>
              </span>
              {{comment.content}}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="box-footer">
          <form action="{% url 'add_comment' post.id %}" method="post">
            <img class="img-responsive img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Alt Text">
            <div class="img-push">
              {% csrf_token %}
              <input type="text" name="content" class="form-control input-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
